@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/boardTable.css";
@import "components/navbar.css";
@import "components/contactMe.css";

/* Screens */
@import "screens/home.css";
@import "screens/get.css";

/* Common CSS */
body {
  color: #2e363e;
  font-family: 'Noto Sans KR', sans-serif;
  height: 250vh;
}

#wrap {
	width: 861px;
	margin: 0 auto;
}

.front-img a {
	
}

.divider {
	width: 1px;
	height: 16px;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0 10px;
}

hr {
  background-color: #ebecef;
  border: 0px;
  height: 1px;
}