@charset "UTF-8";

.board_notice_box_all {
	
}

.board_notice_box {
	
}

.board {
  font-size: 14px;
  width: 861px;
  margin: 10px auto;
}

.board_title {
	font-weight: 700;
	font-size: 25px;
	color: rgba(0, 0, 0, 0.8);
	margin: 50px 0;
}

.board_table {
  margin: 0 auto;
}

th {
	border-top: 1px solid rgba(0, 0, 0, 0.7);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 12px; 0
	font-weight: 700;
	
}

thead tr th:first-child {
	width: 80px;
}

thead tr th:nth-child(2) {
	width: 446px;
}

thead tr th:nth-child(3) {
	width: 100px;
	text-align: left;
}

thead tr th:nth-child(4) {
	width: 100px;
}

thead tr th:nth-child(5) {
	width: 55px;
}

thead tr th:last-child {
	width: 80px;
}

thead tr th:last-child img {
	margin-left: 3px;
	width: 12px;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

td:nth-child(2),
td:nth-child(3) {
	text-align: left;
}

td:first-child {
  font-size: 12px;
}

td:nth-child(4),
td:nth-child(5),
td:last-child {
	font-size: 13px;
}

.board_new {
	text-align: right;
	margin-right: 10px;
}

.board_new span {
	display: inline-block;
	border: 1px solid rgba(0,0,0, 0.2);
	padding: 8px;
	cursor: pointer;
	font-size: 14px;
  color: rgba(0, 0, 0, 1);
}

.board_new span img {
  vertical-align: middle;
  margin-right: 3px;
  width: 14px;
}

.board_new span:hover {
	text-decoration: underline;
}

.board_option {
	text-align: right;
	margin-bottom: 20px;
}

.board_option select {
	padding: 4px 25px 4px 8px;
  font-family: 'Noto Sans KR', sans-serif;
	font-size:13px;
	color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-appearance:none; /* 크롬 화살표 없애기 */
  -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
  appearance:none; /* 화살표 없애기 */
  background: url("/node_modules/bootstrap-icons/icons/caret-down-fill.svg") no-repeat 92% 50%/11px auto;
}

.get_tools_bottom {
	margin: 10px 0;
	
}

.getBoardList:hover {
	text-decoration: underline;
}

.getBoardListReplyCnt {
  color: tomato;
  display: inline-block; 
  margin-left:5px;
	font-size: 14px;
	font-weight: 400;
}

.board_option select:focus {
      outline: none;
}

.board_footer {
	margin-top: 35px;
}

.pagination {
	background-color: #F9F9F9;
	display: flex;
	padding: 20px 0;
	justify-content: center;
  align-items: center;
}
.paginate_button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	width: 25px;
	height: 25px;
  background-color: #F9F9F9;
	
}

.pagination li a {
	display: block;
}

.next,
.previous {
	width: 55px;
  background-color: #F9F9F9;
  margin-right: 0;
}


.paginate_border {
	border-right: 1px solid #dadada;
  height: 12px;
  width: 1px;
}

.previous_border {
	margin-right: 10px;
}

.active {
	background-color: #ffffff;
	color: #0052F6;
}