@charset "UTF-8";

.logoImg {
  width: 50px;
}

.mainImg {
  width: 861px;
  margin-bottom: 5px;
}

.navbar_logo {
	cursor: pointer;
}

.navbar_menu_container {
	display: flex;
	height: 100%;
	align-items: center;
}

.menu_list {
	position: relative;
	margin-left: 15px;
}

.menu_sublist {
  border: 1px solid #000;
  position: absolute;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 861px;
  margin: 10px 0;
  background-color: green;
  
}

.navbar_header {
	display: flex;
  height: 50px;
}
.navbar_logo {
	width: 50px;
  height: 50px;
}

.navbar_menu {
	display: flex;
}

.navbar_menu_element {
}

.navbar_userInfo {
	display: flex;
	width: 100px;
	height: 50px;
	
}