@charset "UTF-8";



.mainImg {
  width: 861px;
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 861px;
  
}

.navbar_logo {
	cursor: pointer;
  margin: 0 20px;
}

.logoImgLink {
  display: block;
}

.logoImg {
  width: 35px;
}

.navbar_header {
	display: flex;
  height: 50px;
  align-items: center;
}

.navbar_menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu_list {
  position: relative;
  margin-left: 32px;
  font-size: 14px;
}

.menu_sublist {
  display: none;
  position: absolute;
  top: 32px;
  left: -3px;
  flex-direction: column;
  padding: 15px 15px 0 15px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  box-shadow: 0 1px 12px 0 rgb(0 0 0 /6%);
  background-color: #fff;
  box-sizing: border-box;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  
}

.btn_toggle {
	display: flex !important;
}

.menu_sublistItem {
  white-space: nowrap;
  margin-bottom: 15px;
  display: block;
}

.menu_sublistItem:hover {
	text-decoration: underline;
}

.navbar_userInfo {
	display: flex;
	position: relative;
	align-items: center;
	font-size: 14px;
	color: #2E363E;
}

.loginButton {
	display: flex;
	align-items: center;
	padding: 3px 5px;
	font-size: 12px;
	height: 22px;
	color: #777777;
	border: 1px solid #dadada;
}

.loginButton span {
	display: block;
}

.userInfoButton:hover {
  text-decoration: underline;
}

.userInfoButtonImg {
	width: 8px;
	height: 4px;
	margin: 2px 2px 0 3px;
}

.userInfo_popup {
  white-space: nowrap;
	position: absolute;
	display: none;
  border: 1px solid rgba(0,0,0,.06);
  box-shadow: 0 1px 12px 0 rgb(0 0 0 / 6%);
	top: 32px;
	right: -3px;
  background-color: white;
  flex-direction: column;
}

.userInfo_container {
	display: flex;
	margin: 15px;
}

.userInfo_id_container {
	display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: -5px;
}

.userInfo_auth {
	margin-bottom: 3px;
}

.userInfo_id {
  display: flex;
  align-items: center;
}

.userInfo_name {
	display: block;
	margin-right: 7px;
	font-size: 15px;
}

.userInfo_autu {
	font-size: 13px;
	color: #888888;
}

.userInfo_Activities {
	display: flex;
	font-size: 14px;
	color: #666666;
}

.userInfo_Activities a:hover {
  text-decoration: underline;
}

.userInfo_profileImg {
	margin-right: 10px;
}

.profileImg {
	width: 66px;
	height: 66px;
	border-radius: 50%;
	display: block;
}

.circle-color {
  --b:5px;  /* border width*/

  color: #313149;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  position:relative;
  z-index:0;
}
.circle-color:after {
  content:"";
  display:inline-block;
  padding-top:100%;
}
.circle-color:before {
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: var(--c,linear-gradient(to right, #9c20aa, #fb3570));
  padding: var(--b);
  border-radius:50%;
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.navbar_userInfo a:last-child {
	margin-right: 10px;
}

.tab {
	display: flex;
	justify-content: flex-end;
}