@charset "UTF-8";

.btn_toggle {
  display: flex !important;
}

.comment_list_tool {
	position: absolute;
	right: 0px;
	top: 10px;
}

.comment_list_tool_button {
	color: #BBBBBB;
}

.comment_more {
  right:5px;
  margin-top: 7px;
  overflow-y: auto;
  position: absolute;
  top: auto;
  z-index: 1;
  max-height: 416px;
  padding: 10px 0;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,.06);
  box-shadow: 0 1px 12px 0 rgb(0 0 0 / 6%);
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  display: none;
}

.more_btn {
  display: block;
  min-width: 100px;
  height: 36px;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 37px;
  white-space: nowrap;
  color: #666666;
}

.more_item:hover {
	background-color: #eff0f2;
}

.noticeBoardBox1 {
  border: 1px solid #ffc6c9;
  background-color: #ffe3e4;
  color: #ff4e59;
  width: 36px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.noticeBox1 {
  border: 1px solid #ffc6c9;
  background-color: #fff;
  color: #ff4e59;
  width: 36px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.contents_main_tools {
	display: flex;
/* 	margin-bottom: 5px; */
}



.get_tools {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}

.modify_tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.list_tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn_board_modify {
  margin-right: 10px;
}

.btn_get_next {
  margin-right: 10px;
}

.btn_get_pre {
  margin-right: 10px;
}

.get_tools span {
  display: inline-block;
  
}

.get_tools_bottom {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.get_tool_list {
  display: flex;
}

.get_tool_list .btn_board_list {
  margin-right: 10px;
}

.get_btn {
  background-color: #EFF0F2;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.get_btn img {
  width: 12px;
  margin-right: 4px;
}

#viewer {
  margin: 26px 0 0 0;
}

.get_contents_container {
  padding: 30px;
  border: 1px solid #ebecef;
  border-radius: 6px;
}

.contents_info {
  display: flex;
  justify-content: space-between;
}

.contents_like {
  margin-right: 10px;
}

.contents_like,
.contents_tools {
  display: flex;
  align-items: center;
  font-size: 13px;
  position: relative;
}

.contents_like a,
.contents_tools a {
  display: flex;
  margin-right: 10px;
}

.contents_like_button,
.contents_comments_button1,
.contents_comments_button {
  align-items: center;
}

.registerButton_container {
	position: relative;
}

.contents_like_button img,
.contents_comments_button1 img,
.contents_comments_button img {
  display: block;
  margin-right: 4px;
  width: 18px;
}

.contents_like_button span,
.contents_comments_button1 span,
.contents_comments_button span {
  display: block;
}

.contents_comments_writer {
  border: 2px solid #dadada;
  border-radius: 6px;
  padding: 10px;
  margin-top: 14px;
}

.register_box {
  text-align: right;
}

.register_box a {
  display: inline-block;
  font-size: 14px;
  color: #cccccc;
  
}

.comments_refresh_button {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border:none;
  cursor: pointer;
}

.comments_refresh_button img {
  width: 14px;
}

.contents_comments_header {
  margin-top: 18px;
  display: flex;
}

.contents_comments_tab_list {
  display: flex;
  margin: 0 10px;
  font-size: 14px;
}

.contents_comments_tab_list li:first-child {
  margin-right: 10px;
}

.contents_comments_inbox_text {
  display: block;
  width: 100%;
  border: none;
  resize: none;
}

.contents_comments_inbox_text:focus {
  outline: none;
}

.contents_comments_inbox_text::placeholder {
  color: #dadada;
  font-size: 13px;
}


.contents_comments_inbox {
  margin-bottom: 10px;
}

.contents_comments_name {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 14px;

}

.contents_kind_button {
  font-size: 13px;
  color: #3D96C2;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contents_kind_button span {
  font-size: 13px;
  display: inline-block;
}

.contents_title {
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

.contents_title span {
  font-size: 26px;
  font-weight: 400;
}

.profile_info {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}

.contents_info {
  margin-bottom: 20px;
}
.article_info {
  color: #bbbbbb;
  font-size: 12px;
}

.contents_comments_title {
  font-size: 18px;
  
}

.contents_comments_list {
  margin-top: 8px;
}

.commentsItem {
  padding: 10px 0;
  border-top: 1px solid #eeeeee;
  position: relative;
}

.commentsItemMineBg {
  background: #f9f9fa;
}

.commentsItemMineBg::before {
  content: "";
  position: absolute;
  top: 0;
  right: -29px;
  bottom: -1px;
  width: 858px;
  background: #f9f9fa;
  z-index: -1;
}

.commentsItem:first-child {
  border: none;
}

.commentsItem_id_box {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.comment_nickname {
  display: inline-block;
  margin-right: 5px;
}

.commentsItem_text_box {
  font-size: 14px;
  margin-bottom: 10px;
}

.commentsItem_info_box {
  font-size: 12px;
  color: bbbbbb;
}

.commentsItem_info_box span {
  display: inline-block;
  margin-right: 10px;
}

.get_user_contents {
  margin-top: 97px;
  margin-bottom: 20px;
}

.toast_url_copy_successful {
  position: absolute;
  top: 40px;
  right: 6px;
  width: 358px;
  background-color: #6F6F6F;
  border-radius: 7px;
  padding: 10px 14px 9px;
  font-size: 15px;
  color: #ffffff;
}

.comments_tab_item {
  padding-top:2px;
}

.get_tool_write {
  display: flex;
}